.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    align-items: center;
}
.todoitems-container {
    display: flex;
}
.todoitems-text {
    padding-left: 16px;
    color: #404040;
    font-size: 22px;
}

.todoitems-cross{
    cursor: pointer;
    padding-right: 25px;
}

.todoitems-container img { 
    width: 50px; 
    height: 50px; 
    object-fit: contain;
    color: #404040;
    cursor: pointer;
 }

.todoitems > img {
    width: 50px;
    height: 50px; 
    object-fit: contain; 
    color: #404040;
    cursor: pointer; }